.nav-dash{
    background: white;
    top:0;
    height:100%;
    max-height: 70px;
    width: 100%;
    -webkit-box-shadow: 1px 6px 6px -3px rgba(0,0,0,0.1);
    box-shadow: 1px 6px 6px -3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.navbar-brand{
    margin: 10px;
}
.navnotify ul{
    list-style: none;
    width:100px;
    height:100%;
    padding:0;
    text-decoration: none;
}
.navnotify li{
    display: inline-block;
    margin-top:10px;
}
.navnotify .navtopicon{
    font-size: 15px;
    color:gray;
    padding:10px;
    text-align: right;
}
.navtopicon:hover , .navtopicon:focus, .navtopicon:active{
    color:#4CC2C2;
}