.bg-gradient{
  background: rgb(18,101,103);
  background: linear-gradient(90deg, rgba(18,101,103,1) 0%, rgba(10,130,133,1) 35%, rgba(32,172,186,1) 100%);
}

link{
  list-style: none;
  text-decoration: none;
}
link:hover{
  text-decoration: none;
  list-style: none;
}