.display-rooms{
    width:100%;
    padding-left: 2%;
    padding-right: 3%;
}

.jumbotron-group{
    height:500px;
    padding:20px;
    max-height:500px;
    background:#F9F9F9;
    width:100%;
}
.card-profile{
    max-height: 500px;
}
.img-profile{
    padding-left: 15%;
    padding-right: 15%;
}

.img-profile img{
    width:350px;
}