@import '_icons.scss';

header {
  .navbar {
    position: fixed;
    box-shadow: 0 0 20px lighten($color-dark, 60%);
    top: 0;
    box-sizing: border-box;
    left: 0;
    border-radius:0 0 30px 30px;
    right: 0;
    display: grid;
    grid-template-areas: 'main-header';
    grid-template-columns: 100% 1fr;
    grid-gap: 10px;
    background: white;
    z-index: 10;
    .main-header{
      padding: 5px;
      grid-area: main-header;
      display: grid;
      grid-template-areas: 'logo menu menu menu  icon button ';
      grid-template-rows: 60px 1fr 0;
      grid-template-columns: 200px 0.9fr;
      box-sizing: border-box;
      align-items: center;
      .btn-back{
        grid-area: btnback;
        display: none;
      }
      .logo-brand{
        grid-area: logo;
        font-size: 20px;
        opacity: 0.8;
        text-align: center;
        &:hover{
          transition: 0.2s;
          opacity: 1;
        }
        .logo-link{
          color: $color-primary;
          font-weight: bold;
          font-size: 25px;
          letter-spacing: -0.2px;
          &:hover{
            transition: 0.2s;
            transform: scale(2);
          }
        }
        @media screen and(max-width: 900px){
          display: none;
          .mobile-menu{
            display: none;

            svg{
              width:100px;
            }
          }
        }
      }
      .header-menu{
        grid-area: menu;
        align-items: center;
        display: grid;
        grid-template-areas: ' fsearch';
        grid-template-columns:100%;
        box-sizing: border-box;

        @media screen and (max-width: 900px){
          grid-template-columns: 100%;
        }
        .header-search{
          grid-area: fsearch;
          display: inline;
          .input-group{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius:10px;

            border:1px solid #E1E1E1;
            .form-control{
              border:none;
              letter-spacing: -0px;
              padding:7px 0 7px 10px;
              outline: none;
              color:$color-gray;
              border-radius:10px;
            }
            button{
              @include button-icons;
            }
            i{
              @include icons-padding
            }
          }
          @media screen and(max-width: 900px){
            margin:0;
            width: 100%;
          }
        }
      }
      .header-icons{
        grid-area: icon;
        cursor: pointer;
        text-align: right;
        font-size: 12px;
        i{
          font-size: 20px;
          padding: 0.5rem 1rem 0 1rem;
          &[data-badge] {
            position: relative;
            &:after {
              font-family: Arial, sans-serif;
              content: attr(data-badge);
              position: absolute;
              background: $color-pink;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              width:20px;
              padding: 0.3em;
              color: $color-white;
              font-size: 12px;
              max-height: 20px;
              right: 5px;
              top: 0;
            }
          }

          &:hover{
            color:$color-primary;
            transition:0.1s;
          }
        }

        @media screen and (max-width: 900px){
          display: none;
        }
      }
      .header-btn{
        grid-area: button;
        align-items: center;
        justify-content: center;
        display: flex;
        @media screen and(max-width: 900px){
          display: none;
        }
        .button-primary{
          @include button-primary;
        }
        .button-outline-primary{
          @include button-outline-primary
        }
      }
      .mobile-menu{
        cursor: pointer;
        grid-area: mobileMenu;
        display: none;

        @media screen and (max-width: 900px){
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius:10px;
          padding:5px;
          transition:0.2s;

          &:active{
            transition:0.2s;
            background: lighten($color-primary,20%);
            color:white;
          }
        }
      }
      @media screen and (max-width: 900px){
        grid-template-areas: 'btnback menu menu  icon button mobileMenu';
        grid-template-columns: 50px 0.9fr;

        .btn-back-active{
          cursor:pointer;
          display: flex;
          justify-content: center;

          &:active{
            transform: scale(1.05);
          }
        }
      }
    }

    @media screen and (max-width: 900px){
      border-radius:0;
      //grid-template-areas: 'menu  icon button ';
    }


  }
  .search{
    width: 100%;
    position:fixed;
    top:70px;
    z-index: 9;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    &__result{
      position: fixed;
      display: inline;
      justify-content: center;
      width:70%;
      top:70px;
      padding:10px;
      z-index: 1;
      margin:0 15%;
      height:400px;
      overflow: hidden;
      color:white;
      border-radius:0 0 20px 20px;
      box-shadow: 5px 5px 5px 0 darken($color-gray, 1%);
      background:white;

      @media screen and (max-width: 900px){
        width: 100%;
        margin: 0;
      }

      .search-item{
        display: block;
        .queri-list{
          margin-bottom: 100px;
          overflow: auto;
          padding:5px;
          height: 350px;
          cursor:pointer;
          .product-list{
            padding:10px;
            cursor:pointer;
            color: lighten($color-gray,10%);
            &:hover{
              background:lighten($color-gray, 50%);
              border-radius:10px;
            }
          }
        }
      }
    }
    &__close{
      position:fixed;
      width:100%;
      top:50px;
      z-index: -1;
      opacity: 0.5;
      background:$color-gray;
      height:1000px;
    }
  }
}