@mixin icons-padding{
  padding:5px;
  cursor:pointer;
  &:hover{
    transition: 0.1s;
    border-radius: 7px ;
    transform: scale(1.2);

    &:active{
      content: '';
      transition: 0.2s;
      border-radius: 7px ;
      transform: scale(1);
    }
  }
}