@import "../bootstrap/carousel";


@mixin product-items-kategori{
  border-radius:10px;
  padding:20px;
  width: 100%;
  display: block;

  .header-kategori{
    margin-bottom: 10px;
    h2{
      color:$color-primary
    }
  }
  .kategori-items{
    outline:none;
    margin-bottom:30px;

    .item{
      transform: scale(0.95);
      box-shadow: 0 0 3px lighten($color-gray, 40%);
      border-radius:10px;
      outline:none;
      margin-top: 10px;
      height:150px;
      transition: 0.2s;
      display: block;
      h2,i{
        display: flex;
        padding:20px;
        align-items: center;
        justify-content: center;
      }
      &:hover{
        box-shadow: 0 0 3px lighten($color-gray, 20%);
        transition: 0.4s;
        cursor: pointer;
      }
    }
  }
  .kategori-list{
    width:100%;
    margin-top: 10px;
    height:50px;
    position: relative;
    display: flex;
    .chip{
      grid-area: chip;
      height:40px;
      max-width: 150px;
      color:$color-gray;
      //margin:0 10px;
      box-shadow: 0 0 3px lighten($color-gray, 45%);
      border-radius:20px;
      display: inline-flex;
      align-content: center;
      align-items: center;
      transition:0.2s;
      &:hover{
        box-shadow: 0 0 3px lighten($color-gray, 20%);
        cursor: pointer;
        transition:0.4s;
      }
      i{
        justify-content: center;
        font-size: 80%;
        padding-left:10px;
        align-items: center;
      }
      p{
        font-size: 80%;
        padding:10px;
      }

      @media screen and (max-width: 899px){
        height:30px;
        margin:5px 5px;
        max-width: 150px;
        color:$color-red;
      }
    }
    @media screen and (max-width: 899px){
      height: 100px;
      width: 100%;
      color:$color-red;
      display: inline-block;
    }
  }
}
@mixin product-carousel-promo{
  min-height:250px;
  display: grid;
  grid-template-areas: 'boxpromo boxofficial';
  grid-gap: 10px;
  grid-template-columns: auto auto;

  .box-promo{
    grid-area:boxpromo;
    .header-promo{
        text-overflow: ellipsis;
        color:$color-primary;
    }
    .card-promo{
      box-shadow: 0 0 3px lighten($color-gray, 40%);
      transition:0.1s;
      padding:20px;
      text-overflow: ellipsis;
      background:lighten($color-primary, 20%);
      h2{
        color:white;
      }
      p{
        color:$color-white
      }
      &:hover{
        transition:0.2s;
        box-shadow: 0 0 3px lighten($color-gray, 10%);
        cursor: pointer;
      }

    }
  }
  .box-official{
    grid-area:boxofficial;

    .header-official{
      padding:20px;
    }

    .card-official{
      border-radius:20px;
      box-shadow: 0 0 3px lighten($color-gray, 40%);
      background:darken($color-primary, 5%);
      transition:0.1s;

      h2{
        font-size: 30px;
        color:white;
      }
      p{
      }
      &:hover{
         transition:0.2s;
        box-shadow: 0 0 3px lighten($color-gray, 10%);
        cursor: pointer;
      }
    }
  }
}

$colors: $color-primary, $color-purple, $color-indigo, darken($color-primary,10%), darken($color-indigo,10%), darken($color-pink,10%), darken($color-pink,10%), darken($color-primary,10%), darken($color-teal,10%), darken($color-purple,10%), darken($color-indigo,10%), darken($color-purple,10%), darken($color-teal,10%), darken($color-indigo,10%), darken($color-primary,10%), darken($color-purple,10%), darken($color-primary,0%);


@mixin product-card{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  border-radius: 20px;
  margin: 10px 10px 0 10px;
  height:50px;
}

@mixin product-recomended{
  height:70px;
  margin:0 0 20px 0;
  display: flex;
  position:sticky;
  z-index:8;
  box-shadow: 0 5px 4px darken(white, 10%);
  border-radius:0 0 20px 20px;
  top:70px;
  background:white;
  @for $i from 1 through length($colors) {
    .product-card-#{$i} {
      @include product-card;
      width:100%;
      background-color: rgba(nth($colors, $i ), 0.8);

      i{
        display: flex;
        align-items: center;
        padding:5px;
      }
      &:hover {
        background-color: rgba(nth($colors, $i), 1);
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 900px){
    position:sticky;
    overflow: visible;
    align-items: center;
    @for $i from 1 through length($colors) {
      .product-card-#{$i} {
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        border-radius: 10px;
        margin: 10px 10px 0 10px;
        height:30px;
        width:100%;
        background-color: rgba(nth($colors, $i ), 0.8);
        font-size: 10px;
        i{
          display: flex;
          align-items: center;
          padding:5px;
        }
        h4{
          display: none;
        }
        &:hover {
          background-color: rgba(nth($colors, $i), 1);
          cursor: pointer;
        }
      }
    }
  }
}


@mixin products-result{
  max-width: 1200px;
  margin: 0 auto;
  cursor: pointer;
  .cards{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;

    .cards_item {
      width: 25%;
      padding:0.5rem;
      display: flex;

      .card {
        background-color: white;
        border-radius:1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0 0 3px lighten($color-gray, 40%);

        .card_image{
          img{
            vertical-align: middle;
            height:150px;
            width:100%;
            object-fit: cover;
          }
        }


        .card_content {
          padding: 1rem;

          .card_title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: darken($color-white, 60%);
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: -0.5px;
            text-transform: capitalize;
            margin: 0;
          }
          .card_text {
            margin-top: 10px;
            height:60px;
            line-height: 1.5;
            .card_harga{
              font-size: 1rem;
              color:lighten($color-primary, 5%);
              font-weight: bold;
            }
            .card_discount{
              padding:5px;
              display: inline-block;
              background:$color-red;
              border-radius:10px;
              font-size: 0.7rem;
              color:$color-white;
              font-weight: bold;
            }
          }
          .toko{
            height:25px;
            display: flex;
            align-items: center;
            &__name{
              display: flex;
              align-items: center;
              i{
                font-size: 15px;
                width: 10%;
                text-align: left;
                color:lighten($color-gray, 20%)
              }
              span{
                padding:0.5rem;
                font-size: 0.9rem;
                letter-spacing: 0;
                color:lighten($color-gray, 20%);
                width:100%;
              }

            }
          }

          .card_btn{
            color: darken($color-white, 50%);
            padding: 0.8rem;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 4px;
            font-weight: 400;
            display: block;
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: transparent;

            &:hover{
              background-color: rgba(255, 255, 255, 0.12);
            }
          }
        }

        &:hover{
          box-shadow: 0 0 5px lighten($color-primary, 20%);
        }
      }
      @media screen and (min-width: 250px)and (max-width: 399px){
        width: 100%;
      }
      @media screen and (min-width: 400px)and (max-width: 649px){
        width: 50%;
      }
      @media screen and (min-width: 650px) and (max-width: 900px){
        width: 33.3%;
      }
    }
  }
  @media screen and (max-width: 399px){
    display: block;
  }
}

@mixin display-product{

}

@mixin display-image-product{
  border-radius:10px;
  .carousel {
    position: relative;
    .carousel-indicators, .active {
      opacity: 1;
    }

    .carousel-indicators {
      position: absolute;
      right: 0;
      bottom: -70px;
      left: 0;
      z-index: 1;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      list-style: none;
      object-fit: none;

      li {
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        opacity:1;
        cursor: pointer;

        img{
          box-shadow: 0 0 5px lighten($color-gray, 40%);
          border-radius:10px;
          width:50px;
          height:50px;
          object-fit: cover;

          &:hover{
            box-shadow: 0 0 5px lighten($color-gray, 20%);
          }
        }

      }

      @media screen and (max-width: 900px){
        bottom: -70px;
      }
    }

    .carousel-inner {
      position: relative;
      z-index: 2;
      overflow: hidden;
      border-radius: 20px;
      box-shadow: 0 0 10px lighten($color-gray, 46%);

      .carousel-item {
        -webkit-backface-visibility: hidden;
        border-radius: 10px;
        width: 100%;
        height:330px;
        backface-visibility: hidden;
        transition: -webkit-transform 0.6s ease-in-out;
        transition:0.5s;
        &:hover{
          transition:0.5s;
          transform: scale(1.1);
          border-radius: 10px;
        }
        img{
          box-shadow: 0 0 10px darken($color-dark, 10%);
          cursor: pointer;
          width:100%;
          height:330px;
          object-fit: cover;
          border-radius:10px;
          transition:0.1s;

          &:hover{
            transform: scale(1.2);
            border-radius: 10px;
          }

          @media screen and (max-width: 900px){
            height:250px;
          }
        }
        @media screen and (max-width: 900px){
          height:250px;
        }
      }
    }
  }
  //@include carousel;

  @media screen and (max-width: 900px){
    margin-bottom: 100px;
    position:relative;
    display: block;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}

@mixin sidebar{
  grid-area: sidebar;
  display: flex;
  top:130px;
  position: sticky;
  max-height: 500px;
  .sidebar{
    padding:10px;
    width:100%;
    box-shadow: 0 0 5px lighten($color-dark, 60%);
    border-radius:15px;
  }
}
























@mixin product-result-page{
  max-width: 1200px;
  margin: 0 auto;
  cursor: pointer;
  .cards{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;

    .cards_item {
      width: 25%;
      padding:0.5rem;
      display: flex;

      .card {
        background-color: white;
        border-radius:1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0 0 3px lighten($color-gray, 40%);

        .card_image{
          img{
            vertical-align: middle;
            height:150px;
            width:100%;
            object-fit: cover;
          }
        }


        .card_content {
          padding: 1rem;

          .card_title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: darken($color-white, 60%);
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: -0.5px;
            text-transform: capitalize;
            margin: 0;
          }
          .card_text {
            margin-top: 10px;
            height:60px;
            line-height: 1.5;
            .card_harga{
              font-size: 1rem;
              color:lighten($color-primary, 5%);
              font-weight: bold;
            }
            .card_discount{
              padding:5px;
              display: inline-block;
              background:$color-red;
              border-radius:10px;
              font-size: 0.7rem;
              color:$color-white;
              font-weight: bold;
            }
          }
          .toko{
            height:25px;
            display: flex;
            align-items: center;
            &__name{
              display: flex;
              align-items: center;
              i{
                font-size: 15px;
                width: 10%;
                text-align: left;
                color:lighten($color-gray, 20%)
              }
              span{
                padding:0.5rem;
                font-size: 0.9rem;
                letter-spacing: 0;
                color:lighten($color-gray, 20%);
                width:100%;
              }

            }
          }

          .card_btn{
            color: darken($color-white, 50%);
            padding: 0.8rem;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 4px;
            font-weight: 400;
            display: block;
            width: 100%;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: transparent;

            &:hover{
              background-color: rgba(255, 255, 255, 0.12);
            }
          }
        }

        &:hover{
          box-shadow: 0 0 5px lighten($color-primary, 20%);
        }
      }
      @media screen and (max-width: 500px){
        width: 33.5%;
      }
    }
  }
}
@mixin main__product{
  display: flex;

  .products{
    min-height: 500px;
    padding:10px ;
    box-shadow: 0 0 5px lighten($color-dark, 60%);
    border-radius:15px;
    width:100%;
    .products-result{
      @include product-result-page;
    }
  }

}