@mixin checkbox{
    //height:100px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: checkbox;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input[type='checkbox']{
      color: red;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 20px;
      border-radius:5px;
      background-color: white;
      width: 20px;
      transform: rotate(20deg) scale(0);
      &:checked{
        background-color: white;
        width: 20px;
        height: 20px;
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transition: 0.2s;
        transform: rotate(0deg) scale(1);
        opacity: 1;
        border:2px solid white;
      }
    }
    .checkmark{
      cursor: pointer;
      position:absolute;
      height:20px;
      width: 20px;
      background:transparent;
      border-radius:5px;
      box-shadow: 0 0 2px gray;
    }
}

.main__cart{
  padding:0 5%;
  //padding-top: 20px;
  min-height:800px;
  .carts-products{
    display: grid;
    grid-template-areas: 'products products proccess';
    grid-template-columns: 65% 5%;
    .products{
      margin-right: 10px;
      grid-area: products;
      .header-carts{
        z-index: 2;
        box-sizing: border-box;
        align-items: center;
        display: grid;
        grid-template-areas: 'checkbox header header header header header delete';
        grid-template-rows: 40px auto;
        grid-template-columns: 5% 70% 10%;
        padding:20px 0;
        border-bottom: 8px solid darken($color-white, 5%);
        overflow: hidden;
        color:black;
        position:sticky;
        height:80px;
        top:70px;
        background:white;
        .checkbox{
          height:50px;
          display: flex;
          align-items: center;
          justify-content: center;
          grid-area: checkbox;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input[type='checkbox']{
            color: red;
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 20px;
            border-radius:5px;
            background-color: white;
            //border: 2px solid red;
            width: 20px;
            transform: rotate(20deg) scale(0);
            &:checked{
              background-color: white;
              width: 20px;
              height: 20px;
              -webkit-transform: rotate(0deg) scale(1);
              -ms-transform: rotate(0deg) scale(1);
              transition: 0.2s;
              transform: rotate(0deg) scale(1);
              opacity: 1;
              border:2px solid white;
            }
          }
          .checkmark{
            cursor: pointer;
            position:absolute;
            height:20px;
            width: 20px;
            background:transparent;
            border-radius:5px;
            box-shadow: 0 0 2px gray;
          }
        }
        .header{
          width:100%;
          padding: 0 10px;
          height:20px;
          display: flex;
          align-items: center;
          grid-area: header;
          h4{
            color: lighten($color-gray, 15%);
            font-size: 20px;
          }
        }
        .delete{
          height:20px;
          letter-spacing: -0.8px;
          cursor: pointer;
          color: lighten($color-primary, 10%);
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          grid-area: delete;
        }
      }
      .cart-items{
        padding-top: 10px;
        min-height:200px;
        .cart-item{
          border-bottom: 5px solid darken($color-white, 5%);
          min-height:50px;
          //padding:20px 0;
          margin-bottom: 10px;

          .cart-toko{
            display: grid;
            grid-template-areas: 'checkbox toko-detail';
            grid-template-rows: 50px auto;
            grid-template-columns: 5% 95%;
            .checkbox{
              grid-area: checkbox;
              @include checkbox;
            }
            .toko-detail{
              grid-area:toko-detail ;
              display: flex;
              align-items: center;
              .detail{

                color: lighten($color-dark, 30%);
                width: 100%;
                padding:0 10px;
                small{

                  font-size: 12px;
                }

              }
            }
          }
          .product-item-detail{
            display: grid;
            grid-template-areas: 'checkbox product-item';
            grid-template-rows: 140px auto;
            grid-template-columns: 5% 95%;
            .checkbox{
              grid-area: checkbox;
              @include checkbox;
            }
            .product-item{
              grid-area: product-item;
              display: flex;
              padding:0 10px;
              //align-items: center;
              .image-item{
                display: flex;
                align-items: center;
                img{
                  border-radius:10px;
                  object-fit: cover;
                  width:120px;
                  height:120px;

                }
              }
              .detail-item{
                width: 500px;
                .detail-item-name{
                  display: flex;
                  max-width: 500px;
                  align-items: center;
                  padding:10px;
                  //height:10px;
                  h4{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                }
                .detail-item-harga{
                  display: flex;
                  max-width: 500px;
                  align-items: center;
                  padding:10px;
                  height:20px;
                  p{
                    color:lighten($color-gray, 20%);
                    font-size: 14px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                }
                .detail-item-discount{
                  max-width: 500px;
                  padding:10px;
                  height:20px;
                  h4{
                    border:none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:darken($color-red,15%);
                    width:50px;
                    border-radius:10px;
                    height:30px;
                    color:white;
                    font-size: 15px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }

          .product-item-process{
            display: grid;
            grid-template-rows: 50px auto;
            grid-template-columns: 40% 25%;
            grid-template-areas: 'notes notes   proccess';

            .item-notes{
              grid-area:notes;
            }
            .item-process{
              grid-area:proccess;

              .product-jumlah-input{
                display: flex;
                align-items: center;
                button{
                  cursor: pointer;
                  margin: 0 5px 0 5px;
                  background: lighten($color-primary, 10%);
                  outline: none;
                  border:none;
                  height:30px;
                  width:30px;
                  color:white;
                  transition: 0.2s;
                  &:active{
                    outline:none;
                    transition: 0.2s;
                    background: darken($color-primary, 5%);
                  }
                  font-size: 20px;
                  border-radius:10px;
                }
                input{
                  padding-left: 10px;
                  padding-right: 10px;
                  text-align: center;
                  height:30px;
                  width:150px;
                  outline: none;
                  border-radius:10px;
                  border:none;
                  box-shadow: 0 0 2px lighten($color-dark, 40%);
                  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                }
              }
            }
          }

        }
      }
    }
    .proccess-product{
      box-shadow: 0 0 10px lighten($color-dark, 60%);
      border-radius:10px;
      margin-left: 10px;
      height:300px;
      position:sticky;
      display: flex;
      z-index: 4;
      top:100px;
      grid-area:proccess;
    }
  }
  .all-products{
    min-height: 900px;
    box-shadow: 0 0 20px lighten($color-dark, 60%);
  }
}