@mixin checkbox{
    //height:100px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: checkbox;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input[type='checkbox']{
      color: red;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 20px;
      border-radius:5px;
      background-color: white;
      width: 20px;
      transform: rotate(20deg) scale(0);
      &:checked{
        background-color: white;
        width: 20px;
        height: 20px;
        -webkit-transform: rotate(0deg) scale(1);
        -ms-transform: rotate(0deg) scale(1);
        transition: 0.2s;
        transform: rotate(0deg) scale(1);
        opacity: 1;
        border:2px solid white;
      }
    }
    .checkmark{
      cursor: pointer;
      position:absolute;
      height:20px;
      width: 20px;
      background:transparent;
      border-radius:5px;
      box-shadow: 0 0 2px gray;
    }
}

.main__cart{
  padding:0 5%;
  cursor: default;
  min-height:800px;
  .carts-products{
    display: grid;
    grid-template-areas: 'products proccess';
    grid-template-columns: 68% 20%;
    .products{
      margin-right: 10px;
      grid-area: products;
      .header-carts{
        z-index: 2;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        display: grid;
        grid-template-areas: 'checkbox header header header header header delete';
        grid-template-rows: 40px auto;
        grid-template-columns: 5% 70% 10%;
        padding:20px 0;
        border-bottom: 8px solid darken($color-white, 5%);
        overflow: hidden;
        color:black;
        position:sticky;
        height:80px;
        top:68px;
        background:white;
        .checkbox{
          height:50px;
          display: flex;
          align-items: center;
          justify-content: center;
          grid-area: checkbox;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          input[type='checkbox']{
            color: red;
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 20px;
            border-radius:5px;
            background-color: white;
            width: 20px;
            transform: rotate(20deg) scale(0);
            &:checked{
              background-color: white;
              width: 20px;
              height: 20px;
              -webkit-transform: rotate(0deg) scale(1);
              -ms-transform: rotate(0deg) scale(1);
              transition: 0.2s;
              transform: rotate(0deg) scale(1);
              opacity: 1;
              border:2px solid white;
            }
          }
          .checkmark{
            cursor: pointer;
            position:absolute;
            height:20px;
            width: 20px;
            background:transparent;
            border-radius:5px;
            box-shadow: 0 0 2px gray;
          }
        }
        .header{
          width:100%;
          padding: 0 10px;
          height:20px;
          display: flex;
          align-items: center;
          grid-area: header;
          h4{
            color: lighten($color-gray, 15%);
            font-size: 20px;
          }
        }
        .delete{
          height:20px;
          letter-spacing: -0.8px;
          cursor: pointer;
          color: lighten($color-primary, 10%);
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          grid-area: delete;
        }
        @media screen and (max-width: 540px){
          padding: 20px 5px;
        }
      }
      .cart-items{
        padding-top: 10px;
        min-height:200px;
        .cart-item{
          border-bottom: 5px solid darken($color-white, 5%);
          min-height:50px;
          //padding:20px 0;
          margin-bottom: 10px;

          .cart-toko{
            display: grid;
            grid-template-areas: 'checkbox toko-detail';
            grid-template-rows: 50px auto;
            grid-template-columns: 5% 95%;
            .checkbox{
              grid-area: checkbox;
              @include checkbox;
            }
            .toko-detail{
              grid-area:toko-detail ;
              display: flex;
              align-items: center;
              .detail{

                color: lighten($color-dark, 30%);
                width: 100%;
                padding:0 10px;
                small{

                  font-size: 12px;
                }

              }
            }
          }
          .product-item-detail{
            display: grid;
            grid-template-areas: 'checkbox product-item';
            grid-template-rows: 140px auto;
            grid-template-columns: 5% 95%;
            .checkbox{
              grid-area: checkbox;
              @include checkbox;
            }
            .product-item{
              grid-area: product-item;
              display: flex;
              padding:0 10px;
              //align-items: center;
              .image-item{
                display: flex;
                align-items: center;
                img{
                  border-radius:10px;
                  object-fit: cover;
                  width:120px;
                  height:120px;

                }
              }
              .detail-item{
                width: 500px;
                .detail-item-name{
                  display: flex;
                  max-width: 500px;
                  align-items: center;
                  padding:10px;
                  //height:10px;
                  h4{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                }
                .detail-item-harga{
                  display: flex;
                  max-width: 500px;
                  align-items: center;
                  padding:10px;
                  height:20px;
                  p{
                    color:lighten($color-gray, 20%);
                    font-size: 14px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                }
                .detail-item-discount{
                  max-width: 500px;
                  padding:10px;
                  height:20px;
                  h4{
                    border:none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:darken($color-red,15%);
                    width:50px;
                    border-radius:10px;
                    height:30px;
                    color:white;
                    font-size: 15px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                }
              }
            }
          }

          .product-item-process{
            display: grid;
            grid-template-rows: 50px auto;
            grid-template-columns: 50% 50%;
            grid-template-areas: 'notes  proccess';

            .item-notes{
              grid-area:notes;
            }
            .item-process{
              grid-area:proccess;

              .product-jumlah-input{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                i{
                  color:lighten($color-red,10%);
                }
                .btn-proccess{
                  cursor: pointer;
                  margin: 0 5px 0 5px;
                  background: lighten($color-primary, 10%);
                  outline: none;
                  border:none;
                  height:30px;
                  width:30px;
                  color:white;
                  transition: 0.2s;
                  &:active{
                    outline:none;
                    transition: 0.2s;
                    background: darken($color-primary, 5%);
                  }
                  font-size: 20px;
                  border-radius:10px;
                }
                .input-proccess{
                  padding-left: 10px;
                  padding-right: 10px;
                  text-align: center;
                  height:30px;
                  width:50px;
                  outline: none;
                  border-radius:10px;
                  border:none;
                  box-shadow: 0 0 2px lighten($color-dark, 40%);
                  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                  }
                }

              }
            }
          }

        }
      }
    }
    .proccess-product-fixed{
      display: none;
      @media screen and (max-width: 650px){
        cursor: pointer;
        border-radius:20px;
        background: lighten($color-primary, 20%);
        padding:10px;
        bottom: 70px;
        right: 20px;
        width: 100px;
        z-index: 8;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
          color:white;
          font-size: 20px;
        }
        span{
          margin-left: 5px;
          font-weight: bold;
          color:white;
          font-size: 12px;
        }

        &:active{
          transition:0.5s;
          background: lighten($color-primary, 10%);
        }
        &:focus{
          background: lighten($color-primary, 10%);
        }
      }
    }
    .proccess-product{
      width: 300px;
      cursor: default;
      box-shadow: 0 0 10px lighten($color-dark, 60%);
      border-radius:10px;
      margin-left: 10px;
      height:300px;
      position:sticky;
      display: block;
      z-index: 4;
      top:100px;
      grid-area:proccess;
      .join-member-promo{
        display: block;
        padding:15px 20px;
        width:100%;
        border-bottom: 8px solid lighten($color-gray,45%);
        .promo-join{

          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border:1px solid lighten($color-gray, 30%);
          border-radius:10px;
          padding:15px 0;
          transition:0.2s;

          &:hover{
            transition:0.2s;
            border:1px solid lighten($color-primary, 10%);
            box-shadow: 0 0 4px  lighten($color-primary, 25%);
            i{
              color:lighten($color-primary, 10%)
            }
          }
        }
      }
      .ringkasan-product{
        cursor: default;
        display: block;
        padding:20px;
        width:100%;
        h4{
          color: lighten($color-gray, 30%);
        }
        .ringkasan-detail {
          padding: 20px 0;
          display: grid;
          grid-template-areas: 'small span';
          grid-template-columns: 50% 50%;
          cursor: default;
          small {
            padding:5px;
            font-size: 15px;
            color: lighten($color-gray, 30%);
            grid-area: small;

          }

          span {
            display: flex;
            justify-content: center;
            padding:5px;
            cursor: pointer;
            border-radius:5px;
            align-items: center;
            color: lighten($color-primary,10%);
            font-weight: bold;
            grid-area: span;
          }
        }
      }

      .btn-product{
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        height:50px;
        padding:10px 20px 0 20px;
        border-top: 2px solid lighten($color-gray,45%);
        button{
          outline: none;
          border:none;
          border-radius:10px;
          background: lighten($color-primary, 10%);
          color:$color-white;
          font-weight: bold;
          height: 40px;
          width:100%;

          &:hover{
            cursor: pointer;
          }
        }
      }
      @media screen and (max-width: 900px){
        display: none;
      }
    }
    @media screen and (max-width: 900px){
      grid-template-areas: 'products ';
      grid-template-columns: 100%;
    }
  }
  .all-products{
    min-height: 900px;
    box-shadow: 0 0 20px lighten($color-dark, 60%);
  }
  @media screen and (min-width:400px)and(max-width: 899px){
    width: 100%;
    margin-bottom: 100px;
    padding: 2%;
  }
  @media screen and (min-width: 900px) and (max-width: 1199px){
    padding:0 7.5%;
    margin-bottom: 100px;
  }

  @media screen and (min-width: 250px) and (max-width: 399px){
    margin:0;
    padding:0 2%;
  }
}

.product-show{
  display: none;
  visibility: hidden;
  animation:fadeout  2.5s;
  -webkit-animation: fadeout 0.5s;
}

.showing{
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
  z-index: 7;
  top:0;
  left:0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height:100vh;

  .display-product-show{
    z-index: 2;
    border-radius:20px;
    width:70vw;
    height:40vh;
    margin-bottom: 200px;
    display: block;
    .close-btn{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      i{
        padding:10px 10px;
        cursor: pointer;
        color:white;
        font-size: 20px;
      }
    }
    .join-member-promo{
      background: white;
      border-radius:20px 20px 0 0;
      display: block;
      padding:15px 10px;
      border-bottom: 2px solid lighten($color-gray,45%);
      .promo-join{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border:1px solid lighten($color-gray, 30%);
        border-radius:10px;
        transition:0.2s;
        padding:10px 0;
        span{
          font-size: 15px;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

        }
        &:hover{
          transition:0.2s;
          border:1px solid lighten($color-primary, 10%);
          box-shadow: 0 0 4px  lighten($color-primary, 25%);
        }
      }
    }
    .ringkasan-product{
      background: white;
      cursor: default;
      display: block;
      height:120px;
      padding:20px 0 10px 10px;
      h4{
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: lighten($color-gray, 30%);
      }
      .ringkasan-detail {
        padding: 20px 0;
        display: block;
        cursor: default;
        span {
          display: flex;
          justify-content: center;
          font-size: 18px;
          cursor: pointer;
          border-radius:5px;
          align-items: center;
          color: lighten($color-primary,10%);
          font-weight: bold;
          grid-area: span;
        }
      }
    }
    .btn-product{
      background: white;
      display: flex;
      align-items: center;
      height:70px;
      border-radius: 0 0 20px 20px;
      button{
        outline: none;
        border:none;
        border-radius:10px;
        background: lighten($color-primary, 10%);
        color:$color-white;
        margin:0 10px;
        font-weight: bold;
        height: 40px;
        width:100%;

        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  .background-product-show{
    background: $color-gray;
    top:0;
    opacity: 0.4;
    right:0;
    position:absolute;
    width:100vw;
    height:100vh;
  }
  @media screen and (min-width: 900px){
    display: none;
  }
}