.header-jumbotron{
    height:300px;
    border-radius: 0;
    margin-top:70px;
    padding-top:40px;
}

.bg-gradient{
    background: rgb(33,217,235);
    background: linear-gradient(90deg, rgba(33,217,235,1) 0%, rgba(43,194,209,1) 35%, rgba(28,214,232,1) 100%);
}

.bt_menu_left{
    width:100%;
    min-height:400px;
    border-radius:20px;
    padding:10px;
    background-color: #F9F9F9;
}
.form-home{
    border-radius: 20px;
    min-height: 500px;
    margin-top:-100px;

}

/*Display Room*/
._DR01{
    background:#F9F9F9;
    max-height: 110px;
    height:110px;
    padding:10px;
    border-radius:10px;
}
._DRIAll{

    max-height: 90px;
    height:90px;
    border-radius:10px;
}
._DRIAll img{
    margin-left:15%;
    max-width:110px;
}
._DRTAll{
    max-height: 90px;
    padding:10px;
    height:90px;
    border-radius:10px;
}

._DRAction{
    max-height: 90px;
    padding:10px;
    height:90px;
    border-radius:10px;
}
/*End Display Room*/



._1uz2h{
    background-color: #F9F9F9;
    padding:20px;
}
._1uz2h button{text-align: left;font-size: 15px}


._3kcKR{
    margin-top:100px;
    min-height: 900px;

}

.ws_Kec{
    min-height:500px;
    margin-bottom: 40px;
}
.ct_WsKec{
    text-align:center;
    width:90%;
    height:50%;
}
.ct_WsKec h1{
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    color:#FDB524;
}
.ct_WsKec p{
    margin-top:20px;
    text-align: left;
    font-size: 20px;
    color:#FDB524;
    margin-bottom: 40px;
}

/*image Wisata harusnya*/
.ws_right{
    width:15rem;
    margin-right:40px;
    margin-bottom: 20px;
    height:200px;
}
.img_porto2 {
    border:5px solid white;
    width:15.7rem;
    border-radius: 10px;
}
.img_porto2 .img{
    border-radius: 5px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

    object-fit: cover;
    object-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 400px;
    width: 15rem;
    height: 200px;
}
.img-text{
    color: #ff982b;
    letter-spacing: -1px;
    font-weight: bold;
    margin-top:-15%;
    margin-left:7%;
    position:absolute;

}
.img-text h4{
    text-align: center;
}


.bg_1MlOC{
    background: #FDB524;
    width:100%;
    min-height:400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Margin Top*/
.wd_LDesk{
    height:100%;

}

.ct_hm124{
    text-align:center;
    width:100%;
    height:100%;
}
.ct_hm124 h2{
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    color:white;
}
.ct_hm124 p{
    margin-top:20px;
    text-align: left;
    font-size: 20px;
    color:white;
    margin-bottom: 40px;
}
.img_porto {
    border:5px solid white;
    width:25.7rem;
    border-radius: 10px;
}
.img_porto img{
    border-radius: 5px;
    margin: 0;
    padding:0;
    object-fit: cover;
    object-position: 100% 0;

    width: 25rem;
    height: 200px;
}

.wd_IRDesk{
    min-height: 200px;
}

.wd_IRDesk h2{
    font-weight: bold;
    font-size: 20px;
    color:white;
    margin-left: 5px;
}
.wd_IRDesk p{

    font-size: 15px;
    color:white;
    margin-left: 5px;
}

.wd_IVDesk{
    margin-right:20px;
}

.wd_IVDesk h2{
    font-weight: bold;
    font-size: 20px;
    color:white;
    margin-left: 5px;
}
.wd_IVDesk p{

    font-size: 15px;
    color:white;
    margin-left: 5px;
}