.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing:border-box;
}

.toggle-button:focus{
    outline:none;
}

.toggle-button-line{
    width:30px;
    height:3px;
    border-radius:5px;
    background: white;
}
@media (max-height: 769px){
    .toolbar-logo{
        display:none;
    }
}