.sidebar{
    height:100%;
    max-height: 1200px;
    position: fixed;
    background:#4CC2C2;
    top:0;left:0;
    width: 70px;
    transition: 0.5s ease-out;
}
.sidebar.open{
    height:100%;
    max-height: 1200px;
    position: fixed;
    background:#4CC2C2;
    transition: 0.5s ease-out;
    top:0;left:0;
    width: 200px;
}
.title-dashboard{
    background:#4CC2C2;
    -webkit-box-shadow: -7px 9px 36px -25px rgba(117,117,117,1);
    -moz-box-shadow: -7px 9px 36px -25px rgba(117,117,117,1);
    box-shadow: -7px 9px 36px -25px rgba(117,117,117,1);
    width:100%;
    min-height: 70px;
}
.title-dashboard h3{
    color: white;
    line-height: 70px;
    margin-left: 20px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: -0.5px;
    font-weight: bold;
}

.right-bar{
    position:relative;
    height:100%;
    min-height:1200px;
    width: 100%;
    padding-right:3%;
    left:70px;
    background:transparent;
    top:0;
    right:200px;
    transition: 0.5s ease-out;

    z-index: 9999;
}
.right-bar.open{
    position: relative;
    height:100%;
    background:transparent;
    min-height:1200px;
    width: 93.5%;
    top:0;
    transition: 0.5s ease-out;
    left:200px;
    z-index: 9999;
}

.sidenav-button{
    height:60px;
    padding-left:24px;
    padding-top: 16px;

}
.sidenav-toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:none;
    height:21px;
    width:30px;
    background: transparent;
    cursor:pointer;
    padding:0;
    box-sizing: border-box;
}

.sidenav-toggle:focus{
    outline: none;
}
.sidenav-toggle span{
    width: 25px;
    background:white;
    height:3px;
    border-radius: 4px;
}
.navitem, .navitem:hover{
    display: flex;
    height:60px;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
.navitem:focus{
    color:#2B2B2B;
}

/*text Open / Close*/
.navtext{
    color:white;
    margin-left: 10px;
    width:100%;
    opacity: 0;

    transition: 0.5s ease-out;
    transform: translateX(-10%);
}
.navtext.open{
    transform: translateX(0);
    color:white;
    opacity: 100;
    margin-left: 10px;
    width:100%;

}
.navicon{
    left: 0;
    height:60px;

    padding-left: 20px;
}
.navicon i{
    font-size: 30px;
    color:white;
    cursor:pointer;
}
.navicon i:focus{

    color:#4CC2C2;
    cursor:pointer;
}
@media (max-width: 768px){
    .navtext{
        display: none;
    }
    .sidebar{
        width: 70px;
    }

}
